<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form novalidate autocomplete="off" name="$ctr.form" ng-submit="$ctr.uploadFiles()">
            <h2>Upload Video/GIF</h2>
            <div class="row">
              <div class="col-xs-12">
                <label>Source URL</label>
                <input type="url" placeholder="Enter URL link here.." class="form-control" ng-model="$ctr.newFile.source_image_url" ng-required="!$ctr.newFile.file">
                <div class="clearfix m-t-sm">
                  <label>or attach file</label> <br>
                  <button type="button" class="btn btn-primary"
                          ng-model="$ctr.newFile.file" name="file"
                          ngf-select
                          ngf-pattern="'.gif,video/*'"
                          ngf-multiple="false">Select file
                  </button>
                  <label>{{$ctr.newFile.file.name}}</label>
                </div>
              </div>
              <div class="col-xs-12">
                <tags-input ng-model="$ctr.newFile.tags" min-tags="1"></tags-input>
              </div>
              <div class="col-xs-12 m-t-lg">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h2 class="m-t-lg">My Collection</h2>
          <div class="row">
            <div class="col-xs-12">
              <div>
                <full-image ng-repeat="img in $ctr.images" image="img.images.original.url">
                  <img src="" alt="" class="img-thumbnail image-thumb" ng-src="{{img.images.preview_gif.url}}">

                  <button type="button" class="btn btn-link add-icon" ng-click="$ctr.removeImageFromMyCollection(img)">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                  </button>

                </full-image>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
